services:
  learning-center-platform-os:
    image: learning-center-platform-os:0.0.1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - LEARNING_CENTER_MYSQL_PWD=${LEARNING_CENTER_MYSQL_PWD}